.provincedata {
  /* display: block; */
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 3;
  padding: .6em .5em .5em .8em;
  width: 50%;
  height:50%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 0.5px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 50%;
}
.provincedata::-ms-expand {
  display: none;
  border-radius: 2.5em;
}
.provincedata:hover {
  border-color: #888;
}
.provincedata:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #ffffff;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.provincedata option {
  font-weight:normal;
}



.body {
padding: 1rem;
}

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  font-family: Arial;
}


/* Style tab links */
/* .tablink {
  background-color: #272B30;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 16px;
  font-size: 30px;
  width: 50%;
  border-radius: 10px;
}

.tablink:hover {
  background-color: #777;
} */

/* Style the tab content (and add height:100% for full page content) */
.jtabcontent {
  color: white;
  display: none;
  /* padding: 100px 20px; */
  height: 50%;
  width:100%
}

#Home {background-color: #272B30;}
#Province {background-color: #272B30;}


.card-body{
  padding: 2rem;
  font-size: large;
  padding: .6em .5em .5em .8em;
  width: 100%;
  border-radius: 2.5em;
  /* display: flex; */
  align-items: center;
  height: 100%;
}

/* .row-eq-height{
  display: flex;
 } */

 .myjButton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:5px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:11px 46px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myjButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.myjButton:active {
	position:relative;
	top:1px;
}

footer {
  background-color: #333333;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #EB6864;
  min-height: 40px;
  /* min-height: 7%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  }



.row-plot{
  height: 10%;
  position: relative;
}

.container-fluid{
  height: 800px;
}