/* body {
  padding: 0;
  margin: 0;
} */


body,
html {
  height: 100%;
  width: 100%;

  /* Set the height to match that of the viewport. */
  /* height: 100vh; */
  /* Set the width to match that of the viewport. */
  /* width: 100vw; */
   /* Remove any browser-default margins. */
   /* margin: 0; */
}

.top-buffer { margin-top: 20px; 
}

/* map, */
#map { left
       
}

/*legned */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* footer */
footer {
  background-color: #333333;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #EB6864;
  min-height: 60px;
  /* min-height: 7%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  }