body,
html {
  height: 100%;
  width: 100%;
}

.top-buffer { margin-top: 10px; 
}
/* card  */
.col{
  padding-left: 0px;/* use up the padding space for column */
  padding-right: 0px;/* use up the padding space for column */
}
.card {
  min-width: 100%;
  margin-bottom:4%; /* bottom distance */
  display: flex;
 
}
#card-header {
  font-weight: bold;
  font-size:18px; 
  text-align:center;
  max-height:50% fixed; 
}
#card-body {
  text-align:center;
  max-height:60px;
}

.col-9{
  position:relative;
  padding-bottom:15px;
}
/* map, */
.map-container{
  padding-left:10px;
  height: 100%;
  padding-bottom: 15px;
  position: relative;
  width: 100%;

}
#map {
  width: 100%; 
  height: 680px; 
  overflow: hidden;
  
  /* touch-action: none; 
  will-change: transform; 
  overflow: visible; */
  position: relative;
}

/*list container*/
.list-container {
  position: relative;
}

.scrollbar {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: auto;
}

#info-container{
  position: relative;
  height: 100%;
  padding-bottom:0px;
}
#bot-cardbody{
  height:95px;
}
/* footer */

  footer {
    background-color: #333333;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #EB6864;
    min-height: 40px;
    /* min-height: 7%; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    }