/* body {
  padding: 0;
  margin: 0;
} */

body,
html {
  height: 100%;
  width: 100%;

  /* Set the height to match that of the viewport. */
  /* height: 100vh; */
  /* Set the width to match that of the viewport. */
  /* width: 100vw; */
   /* Remove any browser-default margins. */
   /* margin: 0; */
}

.top-buffer { margin-top: 10px; 
}
/* card  */
.col{
  padding-left: 0px;/* use up the padding space for column */
  padding-right: 0px;/* use up the padding space for column */
}
.card {
  min-width: 100%;
  margin-bottom:4%; /* bottom distance */
  display: flex;
 
}
.card-header {
  font-weight: bold;
  font-size:18px; 
  text-align:center;
  max-height:50% fixed; 
}
.card-body {
  text-align:center;
  max-height:60px;
}


/* map, */
.map-container{
  padding-left:10px;
  height: 100%;
  padding-bottom: 15px;
  position: relative;
  width: 100%;

}
#map {
  width: 100%; 
  height: 600px; 
  overflow: hidden;
  
  /* touch-action: none; 
  will-change: transform; 
  overflow: visible; */
  position: relative;
}

/*Table*/

table {
  border: 1px solid white;
  background: #1E1E1E;
}
.my-custom-scrollbar {
  /* position: relative; */
  /* position: absolute; */
  height: 800px;
  overflow: auto;
  }
/* .table-wrapper-scroll-y {
  display:block;
  } */

/*list container*/
.list-container {
  position: relative;
}

.scrollbar {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: auto;
}


/* footer */
footer {
  background-color: #333333;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #EB6864;
  min-height: 30px;
  /* min-height: 7%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  position: relative;
  }