<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Landing Page</title>
  <!-- Bring in our bootstrap stylesheet -->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="../static/js/bootstrap/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
  
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style_v.css">
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
</head>



<body class="bg" style="background-color:#272B30;">
    <!-- brand and toggle navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <strong><a class="navbar-brand" href="index.html">
          <font size = "4">Coronavirus Dashboard</font>
      </a></strong>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" 
        data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" 
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <font size = "3">Global Map</font>
                      </a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="china.html">
                          <font size = "3">Cases in China</font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="forecast.html">
                          <font size = "3">Forecast and Comparison</font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="death_age.html">
                          <font size = "3">Detailed Analysis</font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="current_china.html">
                          <font size = "3">Data</font></a>
                    </li>
            </ul>
        </div>
    </nav>     


    <!-- <div class="hero text-center"> -->
        <h4 align="center">
            <font size = "5">Age and Sex Factors vs. Population died from Coronavirus</font></h4>
        <br>
    <!-- </div> -->
    <div class="container">
        <div class="row margin-top-50">
          <div class="col-md-6">
            <div id="myDiv-v1"><!-- Plotly chart will be drawn inside this DIV --></div>
            <p><font size = "2">In terms of two lines, the number of female patients increased from the age of 30, 
                and the death peak was between 61 and 70. However, the number of male patients increases from the age of 30, 
                and 60 to 90 years are all the peak death age.The biggest gap is between 60 and 90.
                There are several possible reasons for the disparity in data. 
                It may be the difference between men's physical health, living habits, and hobbies with women. 
                it may also be related to the fact that there are far fewer women than men in the cases that are officially disclosed 
                with specific information.</font>
            </p>
          </div>
  
          <div class="col-md-6">
            <div id="table-area" class="">
             <div id="myDiv-v2"><!-- Plotly chart will be drawn inside this DIV --></div>
             <p><font size = "2">Overall, the risk of dying from the new coronavirus was higher in older adults than in younger children, regardless of gender. 
                Thirty-five were over 60, with a median age of 70. But the youngest is only 36. 
                Older people have a chronic medical history that makes them particularly cuiruo exposed to the virus</font></p>
            </div>
          </div>
        </div>
      </div>

 <!-- Footer -->
    <footer>
        <div class="footer navbar-fixed-bottom">&copy; Copyright Binqian Gao, Mohan Xing, Peirang Xu, Vicky Zhang 2020. All Rights Reserved.</div>
        <!-- <script src="../static/js/test.js"></script> -->
        <!-- API Key -->
        <!-- <script type="text/javascript" src="../static/js/config.js"></script> -->
        <!-- Our JavaScript -->
        <!-- <script type="text/javascript" src="../static/js/logic.js"></script> -->
        <!-- <script type="text/javascript" src="../static/js/currentchina.js"></script> -->
        <script type="text/javascript" src="../static/js/death_age.js"></script>
    </footer>
</body>
</html>


       
